<h1>Contact US ... </h1>
<p>We Provide some of the best solution related to Node js</p>
<div>
<form id="contact-form" method="POST" action="/contact">
    <label for="who">Who Do You Want To Contac</label>
    <input type="text" name="who" value="<%=qs.name%>">
    <label for="department">Which Department</label>
    <input type="text" name="dep" value="<%=qs.dep%>">
    <label for="email">Email</label>
    <input type="text" name="email">
    <input type="submit" value="submit">
</form>
</div>