<h1>Contact US ... </h1>
<p>Thanks For GetIn Touch With Us ...</p>
<p><strong>Name : </strong><%=data.who%></p>
<p><strong>Department : </strong><%=data.dep%></p>
<p><strong>Email : </strong><%=data.email%></p>