<!DOCTYPE html>
<html>
    <head>
        <title>Simple Webpage</title>
    </head>
    <link rel="stylesheet" type="text/css" href="/styleSheet/layout.css">
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <%-body%>
    </body>
</html>